* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    flex-direction: column;
    overflow: hidden;
    font-family: 'Nunito Sans', sans-serif;



}
/* Botón hamburguesa */
.hamburger-menu {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 30;
    color: rgb(255, 255, 255);
}

/* Menú */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 50vh;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    left: 30px;
    transform: translateX(-100%); /* Se oculta fuera de pantalla */
    transition: transform 0.4s ease-in-out;
    pointer-events: none;
    z-index: 20;
}
.navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.3rem;
    font-weight:100;
    margin: 15px 0;
}
.navbar.open {
    transform: translateX(0); /* Se desliza desde la izquierda */
    pointer-events: all;
}
h1 {
    position: absolute;
    top: 10px;
    font-size: 6rem;
    font-weight: bold;
    color: black;
}
.slider {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slides-container {
    display: flex;
    transition: transform 1.5s ease-in-out;
    will-change: transform;
}
.slide {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    flex-shrink: 0;
}

.hamburger-menu-about {
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 2rem;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 30;
        color: black;
}

.hero {
    font-size: 3rem;
    font-weight: lighter;
    position: absolute;
    top: 40%;
    transition: transform 1.5s ease-in-out;
}
.slide-left {
    transform: translateX(-100vw);
}
.services-container {
    display: flex;
    justify-content: space-between;
    width: -100vw;
    height: 90%;
    text-align: center;
    transform: translateX(100vw);
    transition: transform 2s ease-in-out;
    position: absolute;
    top: 10%;

}
.service-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 45%;
}
.service h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
}
.service p {
    font-size: 1rem;

}
.header {
    position: absolute;
    top: 15px;
    width: 80vw;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    height: 50px;
    top: 8px;
    position: absolute;
    right: -37%;
    transform: translateX(-50%);
}
.logo-about{
    height: 200px;
    top: 18%;
    position: absolute;
    right: 40%;
   
    
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.about-content {
    position: relative;
    z-index: 1;
    max-width: 600px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5); /* Opcional, para mejor visibilidad del texto */
    border-radius: 10px;
}
.about-section {
    position: relative;
    width: 90%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    overflow: hidden;
}
.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
   background-color: white;
}
.contacto {
 width: 75%;
 height: 90%;
 display: flex;
 right: 50%;
}
